.coverage
/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/local.cfg
*.egg-info/
*.egg
/.installed.cfg
*.pyc
*.codeintel
/.Python
/include
/lib
/.project
/.pydevproject
/.mr.developer.cfg
/omelette
*.nja
*.mo
.tmp
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
/.tmp/
.ropeproject
.idea
/.python-version
